﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Index</title>
    <style>
        .btn a {
            color: white;
            text-decoration: none
        }

        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1>@ViewBag.Greeting, world!</h1>
        <p>
            <h2>Zapraszamy na przyjęcie urodzinowe.</h2>
            <h3>Też jesteś zaproszony</h3>
        </p>
        <div class="btn btn-success">
            @Html.ActionLink("Wyslij RSVP", "RsvpForm")
        </div>
    </div>
</body>
</html>
