﻿@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
    <title>RsvpForm</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>RSVP</h4></div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Imię i Nazwisko:</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Twój Email: </label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Twój telefon:</label>
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                </div>
                //<input id="Phone" name="Phone" type="text" value="" />

                <div class="form-group">
                    <label>Czy przyjdziesz na przyjęcie?</label>
                    @Html.DropDownListFor(x => x.WillAttend, new[] {
                    new SelectListItem() { Text = "Jeszcze jak.", Value = bool.TrueString},
                    new SelectListItem() { Text = "Niestety nie.", Value = bool.FalseString}
                }, "Wybierz opcję", new { @class = "form-control" })
                </div>
                <div class="text-center">
                    <input class="btn btn-success" type="submit" value="Wyślij RSVP" />
                </div>
            }
        </div>
    </div>
</body>
</html>
