﻿@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <style>
        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    @{
        try
        {
            WebMail.SmtpServer = "smtp.przyklad.pl";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "Admin";
            WebMail.Password = "admin123";
            WebMail.From = "rsvp@rsvp.pl";
            WebMail.Send("zolty13@vp.pl", "Powiadomienie RSVP",
                Model.Name + ((Model.WillAttend ?? false) ? "" : "nie") + 
                "przyjdzie");
        }
        catch (Exception)
        {
            @:<b>Przepraszamy - nie możmey wysłać wiadomości RSVP.</b>
        }
    }
    <div class="text-center">
        <h1>Dziękujemy, @Model.Name!</h1>
        <div class="lead">
            @if (Model.WillAttend == true)
            {
                @:cieszę się, że przyjdziesz do nas.
            }
            else
            {
                @:przykro mi, że nie przyjdziesz. Dziękuję za informację!
            }
        </div>
    </div>
</body>
</html>
