﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Informacje o produkcie</h1>
    <div style="padding: 20px; border: solid medium black; font-size:20pt">
        @RenderBody()
    </div>
    <h2>Odwiedź witrynę <a href="http://helion.pl">Helion</a></h2>
</body>
</html>
