﻿@model Razor.Models.Product

@{
    ViewBag.Title = "DemoExpression";//to jest przekazywane do _BasicLayout
    Layout = "~/Views/_BasicLayout.cshtml";
}

<table>
    <thead>
        <tr><th>Właściwość</th><th>Wartości</th></tr>
    </thead>
    <tbody>
        <tr><td>Nazwa</td><td>@Model.Name</td></tr>
        <tr><td>Cena</td><td>@Model.Price</td></tr>
        <tr>
            <td>Ilość w magazynie</td>
            <td>
                @switch((int)/*@*/ViewBag.ProductCount)
                {
                    case 0:
                        @: Brak//czysty tekst bez znacznikow musi miec @:
                        break;
                    case 1:
                        <b>Mało (@ViewBag.ProductCount)</b>
                        break;
                    default:
                        @ViewBag.ProductCount//MUSI BYC @
                        break;
                }                
            </td>
        </tr>
    </tbody>
</table>

<div data-discount="@ViewBag.ApplyDiscount" data-express="@ViewBag.ExpressShip"
     data-supplier="@ViewBag.Supplier">
    Element posiada atrybuty danych
</div>

Rabat:<input type="checkbox" checked="@ViewBag.ApplyDiscount" />
Express:<input type="checkbox" checked="@ViewBag.ExpressShip" />
Dostawca:<input type="checkbox" checked="@ViewBag.Supplier" />