﻿@using Razor.Models
@model Product[]
@{//@model Razor.Models.Product[]
    ViewBag.Title = "DemoArray";
    Layout = "~/Views/_BasicLayout.cshtml";
}

@if (Model.Length > 0)
{
    <table>
        <thead><tr><th>Produkt</th><th>Cena</th></tr></thead>
        <tbody>
            @foreach (Product prod in Model)//Razor.Models.Product
            {
                <tr>
                    <td>@prod.Name</td>
                    <td>@prod.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>Brak danych produktu</h2>
}

